<%= form_with(model: [ post, post.comments.build ], local: true) do |form| %>
   <div class="field">
       <%= form.label :content %>
       <%= form.text_area :content %>
   </div>

   <%= form.hidden_field :anonymous, value: !user_signed_in? %>

   <div class="actions">
       <%= form.submit %>
   </div>
<% end %>
