<h2>Editar Dados</h2>

<%= form_with(model: @user, local: true) do |form| %>
 <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true %>
 </div>

 <div class="field">
    <%= form.label :pin %>
    <%= form.text_field :pin %>
 </div>

 <div class="actions">
    <%= form.submit %>
 </div>
<% end %>
