
<header>
<% if user_signed_in? %>
  <div class="user-info">
    <%= current_user.name %>
    <span>
    <% if params[:editing] == 'true' %>
       <%= button_to link_to 'Voltar', root_path, class: 'edit-link' %>
    <% else %>
       <%= button_to link_to 'Painel do usuário', edit_user_registration_path(current_user, editing: true), class: 'edit-link' %>
    <% end %>
    <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'btn btn-secondary' %>
   </span>             
  </div>
<% else %>
  <%= button_to link_to 'Register', new_user_registration_path, class: 'btn btn-primary' %>
  <%= button_to link_to 'Login', new_user_session_path, class: 'btn btn-secondary' %>
<% end %>
</header>


<h1>Todos os Posts</h1>


<% if user_signed_in? %>
 <%= button_to link_to 'Criar post', new_post_path, class: 'btn btn-primary' %>
<% end %>


<% if @posts.empty? %>
 <p>Ainda não há posts aqui.</p>
<% else %>
<br />
 <%= will_paginate @posts %>

 <% @posts.each do |post| %>
    <div>
      <h2><%= post.title%></h2>
      <p><%= post.content %></p>
      <% if user_signed_in? %>
      <%= button_to link_to 'Editar', edit_post_path(post) %>
      <%= button_to 'Deletar', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

      <!-- Adicionando a sessão de comentários para cada post -->
      <h3>--- Comentários ---</h3>
      <div id="comments">
      <% post.comments.order(created_at: :desc).limit(4).each do |comment| %>
        <p><strong><%= comment.user_id.nil? ? 'Anônimo' : comment.user.name %></strong>: <%= comment.content %></p>
       <% end %>
       
      </div>

      <%= render 'comments/form', post: post %>
      
    </div>
 <% end %>
<br />
 <%= will_paginate @posts %>

<% end %>

